.deck-simulator__title {
    margin-bottom: 3rem;
}

.deck-simulator__info-par {
    font-size: 1.6rem;
}

.deck-simulator__chosen-cards-list {
    list-style-type: none;
}

.deck-simulator__collapse-header {
    cursor: pointer;
}

.deck-simulator__generate-button-container {
    margin-top: 3rem;
}

.deck-simulator__input-name-container {
    margin-top: 2rem;
}

.deck-simulator__collapse-header::before {
    content: '+  ';
}

details[open] > summary > .deck-simulator__collapse-header::before {
    content: '-  ';
}

.deck-simulator__my-decks-link {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
