{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

<p>{% blocktrans with site.name as site_name %}Authenticate with Discord to
see the fancy side of <span class="brand">{{site_name}}</span>. Use the link
below to complete your sign in.{% endblocktrans %}</p>

{% if socialaccount_providers %}
<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
</div>
{% endif %}

{% endblock %}