{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% get_providers as socialaccount_providers %}

<h1>{% trans "Log In" %}</h1>

<p>{% blocktrans with site.name as site_name %}Log in to
see the fancy side of <span class="brand">{{site_name}}</span>.
{% endblocktrans %}</p>

<div class="card">
<form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button button-primary btn btn-solid">{% trans "Log in" %}</button>
    <a href="{% url 'account_signup' %}" class="button btn">Create an account</a>
  </form>
</div>

{% if LOGIN_BY_CODE_ENABLED %}
<div class="card">
  <p>
    {% trans "Don't want to futz with passwords? We'll send you a magic code, be sure to check your spam folder if you don't see it." %}</a>.
  </p>
  <p>
    <a href="{{ request_login_code_url }}" class="button btn">Send the magic ✨</a>
  </p>
</div>
{% endif %}

{% if socialaccount_providers %}
<div class="card">
  <p>... Or, use of our of social integrations to log in.</p>
  <div class="socialaccount_ballot">
    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>
</div>
{% endif %}

{% endblock %}