{% extends "page.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'redacted/list.css' %}" />
{% endblock %}

{% block content %}
  <h1>Gizmos</h1>

  <ul class="gizmo-list">
    <li>
      <a class="gizmo-title" href="https://triad.sloppylabwork.com/">Sloppy Triad</a>
      <p class="gizmo-description">A fancy pants tool for your triad matches.</p>
    </li>
    <li>
      <a class="gizmo-title" href="https://jtrussell.io/swindle-tetrad-client/">Swindle Tetrad</a>
      <p class="gizmo-description">An awesome collab between our lab and the fine Swindle peeps.</p>
    </li>
    <li>
      <a class="gizmo-title" href="{% url 'redacted-knowledge' %}">Shard of Knowledge</a>
      <p class="gizmo-description">Submit your own questions and topic ideas to the Lab!</p>
    </li>
    <li>
      <a class="gizmo-title" href="{% url 'redacted-random' %}">Random Access Archives</a>
      <p class="gizmo-description">This gizmo (very strange indeed) grabs random decks from DoK accounts. Use with caution!</p>
    </li>
  </ul>
{% endblock %}

