{% extends "page.html" %}

{% block content %}
  <h1>Random Access Archives</h1>
  
  <p>Grab a random deck from a public DoK account.</p>
  
  <form method="POST" class="form-wide">
    {% csrf_token %}
    {{ form }}
    <button type="submit">
      Let's Go
    </button>
  </form>

  {% if is_error %}
    <div class="alert">
      <h2>Oops!</h2>
      <p>We hit a snag and didn't find any decks for you. Double check your
      username and the filters above. Contact us if this error doesn't go away.</p>
    </div>

  {% elif deck_info %}
    <h2>You picked...</h2>
    <p><a href="{{ deck_info.url }}">{{ deck_info.name }}</a>
      with a SAS rating of {{ deck_info.sasRating }}.</p>
  {% endif %}
{% endblock %}
