Django==5.0
django-allauth==0.63
markdown==3.7
Pillow==10.3
boto3==1.34
gunicorn==20.1
psycopg2-binary==2.9.10
requests
sendgrid==6.7
pynacl
qrcode==8.0
colorama==0.4
django-hosts==6.0
django-ses==4.4
whitenoise==6.7
dj-database-url==2.2