Django==3.1
django-allauth==0.43
django-heroku==0.3
Markdown==3.3
Pillow==9.3
boto3==1.17
gunicorn==20.1
psycopg2-binary==2.9
requests
sendgrid==6.7
pynacl
-e git+https://github.com/bkij/kftools.git@release/0.1.0#egg=kftools
