{% extends "page.html" %}

{% block content %}
  <h1>User Profile</h1>
  <p>Welcome, {{ user.get_username }}.</p>
  <p>Looking to <a href="{% url 'account_change_password' %}">change your password</a> or <a href="{% url 'socialaccount_connections' %}">manage your social connections</a>?</p>
  <form action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
    <button type="submit">
      Sign Out
    </button>
  </form>

  <section>
    <h2>Account Details</h2>
    <form method="POST" class="form-wide">
      {% csrf_token %}
      {{ username_form }}
      <label for="">Discord handle:</label>
      <input type="text" value="{{ discord_handle }}" disabled=true />
      <span class="helptext">This cannot be changed.</span>
      {{ profile_form }}
      <button type="submit" class="button-primary">
        Submit
      </button>
    </form>
  </section>

  <section>
    <h2>Danger Zone</h2>
    <p>Deleting your account is a permanent action that cannot be undone.
    Deleting your account will result in all associated registrations being
    deleted as well.</p>
    <form action="#">
      <a href="javascript:alert('Not yet implemented')" class="button">
        Delete Account
      </a>
    </form>
  </section>
{% endblock %}