{% extends "page.html" %}
{% block content %}
<h1>WoE deck simulator</h1>
<details>
    <summary><h3>Predefined cards</h3></summary>
    <select name="available-cards" id="available-cards"></select>
    <button id="add-card-button">Add</button>
    <h5>Chosen cards</h5>
    <ul id="chosen-cards-list" style="height: 200px; overflow: hidden; overflow-y: scroll;">
    </ul>
</details>
<details>
    <summary><h3>Metadata constraints</h3></summary>
    {{ metadata_form }}
</details>
<!--<a target="_blank" rel="noopener noreferrer" href="{% url 'deck-proxy' %}">-->
    <button id="generate-deck-button">
        Generate!
    </button>
<!--</a>-->
{{ available_cards|json_script:"available-cards-data"}}
<script>
{% include 'deck_simulator/deck-simulator.js' %}
</script>
{% endblock %}
