{% extends "page.html" %}

{% block content %}
  <h1>Register a Deck</h1>
  {% if error_message %}
    <div class="note note-danger">{{ error_message }}</div>
  {% endif %}
  <form method="POST" class="form-wide" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <div class="note">
      <b>Heads up!</b>
      Your verification photo should clearly show the back of your deck's
      archon card as well as a handwritten that clearly lists:
      <ul class="note__list">
        <!-- Should include only the  -->
        <li>Your username on <b>Discord</b>, e.g. Archonite#5132 </li>
        <li>Your username on <b>Challonge</b></li>
        <li>Your username on <b>The Crucible Online</b></li>
        <li>Today's date</li>
      </ul>
      The example below demonstrates a valid registration photo. Read more about deck registration <a href="{% url 'register-about' %}">here.</a>
    </div>

    <!-- Iniclude an example registration photo -->

    <button type="submit" class="button-primary">
      Submit
    </button>
  </form>
{% endblock %}
