{% extends "page.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'register/list.css' %}">
{% endblock %}

{% block content %}
<h1>Deck Registrations</h1>

{% if user.is_authenticated %}
<div style="margin-bottom: 1.5rem">
  <a href="{% url 'register-add' %}">Register a deck you own.</a>
</div>
{% endif %}

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Deck</th>
      <th class="text-right">Last Verified</th>
    </tr>
  </thead>
  <tbody>
  {% for reg in deckregistration_list %}
    <tr>
      <td>
        <a href="{% url 'register-detail' reg.id %}">
          {{ reg.id }}
        </a>
      </td>
      <td>{{ reg.deck.name }}</td>
      <td class="text-right">
        {% if reg.has_photo_verification %}
          <span class="text-success">
            {{ reg.verified_on | date:'M j, Y' }}
          </span>
        {% else %}
          <span class="text-danger">
            Not verified
          </span>
        {% endif %}
      </td>
    </tr>
  {% empty %}
    <td colspan="3" class="text-muted">
      Nothing to see here.
    </td>
  {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
    <span>
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; First</a>
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% else %}
      <span class="text-muted">&laquo; First</span>
      <span class="text-muted">Previous</span>
      {% endif %}
    </span>

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    <span>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      {% else %}
      <span class="text-muted">Next</span>
      <span class="text-muted">Last &raquo;</span>
      {% endif %}
    </span>
  </span>
</div>

{% endblock %}