{% extends "page.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'register/list.css' %}">
{% endblock %}

{% block content %}
<h1>Deck Registrations</h1>

{% if user.is_authenticated %}
<div>
  <a href="{% url 'register-add' %}">Register a deck you own.</a>
</div>
{% endif %}

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Deck</th>
      <th class="text-right">Last Verified</th>
    </tr>
  </thead>
  <tbody>
  {% for reg in deckregistration_list %}
    <tr>
      <td>
        <a href="{% url 'register-detail' reg.id %}">
          {{ reg.id }}
        </a>
      </td>
      <td>{{ reg.deck.name }}</td>
      <td class="text-right">
        {% if reg.has_photo_verification %}
          <span class="text-success">
            {{ reg.verified_on | date:'M j, Y' }}
          </span>
        {% else %}
          <span class="text-danger">
            Not verified
          </span>
        {% endif %}
      </td>
    </tr>
  {% empty %}
    <td colspan="2" class="text-muted">
      Nothing to see here.
    </td>
  {% endfor %}
  </tbody>
</table>
{% endblock %}