{% extends "page.html" %}

{% block content %}
  <h1>About Deck Registration</h1>
  <p>Many online tournaments require that aplayers prove they own a deck
  before playing with it in an event. Usually this involves taking a picture
  of your deck's archon card alongside a handwritten note stating who the
  deck belongs to.</p>
  <p>The registration service here aims to cerntalize that process so players
  only have to prove they own a deck once, and tournmanet organizers don't
  have to worry about dealing with verification pictures.</p>

  <h2>How It Works, For Players</h2>
  <p>Registering a deck with <span class="brand">Sloppy Labwork</span> is
  similar to verifying ownership for a typical online event. After creating
  an account, you can submit a registration request <a href="{% url 'register-add' %}">here</a>.
  Your registration request will include a photo of your archon card, as well
  as a handwritten note containing a randomly
  generated 5-digit code.</p>

  <p>From there, a <span class="brand">Sloppy Labwork</span> administartor
  will review the request. Once it is approved, the deck will be publicly
  registered to you.</p> 

  <p>Keep in mind that after verification, your photo will be visible to
  those who would like to double check your claim of ownership. Make sure to
  cover your deck's QR code when taking a photo. Registration requests with a
  fully visible QR code will be declined.</p>
  
  <!--
  <h2>How It Works, For Organizers</h2>
  <p>...</p>
  -->

  <!--
  <h2>Example</h2>
  <p>Example photo here...</p>
  -->

{% endblock %}