{% extends "page.html" %}

{% block content %}
  <h1>Register a Deck</h1>
  {% if user_can_register_decks and not user_hit_register_rate_limit %}
  <form method="POST" class="form-wide" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="hidden" name="nonce" value={{ signed_nonce.nonce }} />
    <input type="hidden" name="nonce_sig" value={{ signed_nonce.nonce_sig }} />
    <div class="note">
      <b>Heads up!</b>
      Verification photos must show your deck's archon card and a handwritten
      note that clearly displays the code below.

      <div class="verification_nonce_display">
        {{ signed_nonce.nonce }}
      </div>

      Please ensure that:
      <ul class="note__list">
        <li>Your archon card is <strong>not</strong> in a sleeve.</li>
        <li>The <strong>deck name</strong> on the archon card is fully visible.</li>
        <li>The QR code on the archon card is <strong>obscured</strong>.</li>
        <li>The <strong>16-digit sequence</strong> below your archon card's QR code is fully visible.</li>
      </ul>
      For an example of a valid registration photo, or to read more about
      deck registration, click <a href="{% url 'register-about' %}">here.</a>
    </div>

    <!-- Iniclude an example registration photo -->

    <button type="submit" class="button-primary">
      Submit
    </button>
  </form>
  {% endif %}

  {% if user_hit_register_rate_limit %}
  <div class="note">
    <strong>Hold up!</strong> You've maxed out on registration requests for
    the day. Come back tomorrow and try again.
  </div>
  {% endif %}

  {% if not user_can_register_decks %}
  <div class="note">
    <strong>Hold up!</strong> Before registering a deck you must have
    Challonge and TCO handles configured in your profile. <a href="{% url 'profile' %}">Click here to go to your profile</a>.
  </div>
  {% endif %}
{% endblock %}
