{% extends "page.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'register/detail.css' %}">
{% endblock %}

{% block content %}
  <h1>Registration</h1>

  {% if object.user == request.user and not object.is_verified %}
    <p class="note">
      <em>
        You submitted this registration request on {{ object.created_on | date:'M j, Y' }}. It has not yet been verified.
      </em>
    </p>
  {% endif %}

  <table class="u-full-width">
    <tbody>
      <tr>
        <td class="detail-label">Deck</td>
        <td class="detail-value">
          <a href="{{ object.deck.get_dok_url }}">
            {{ object.deck.name }}
          </a>
        </td>
      </tr>

      <tr>
        <td class="detail-label">Status</td>
        <td class="detail-value">
          {% if object.is_verified %}
            <span class="text-success">
              Last verified on {{ object.verified_on | date:'M j, Y' }}
            </span>
          {% else %}
            <span class="text-danger">
              Pending
            </span>
          {% endif %}
        </td>
      </tr>

      {% if object.is_verified %}
      <tr>
        <td class="detail-label">Owner Discord</td>
        <td class="detail-value">{{ object.user.profile.discord_handle }}</td>
      </tr>
      <tr>
        <td class="detail-label">Owner TCO</td>
        <td class="detail-value">{{ object.user.profile.tco_handle }}</td>
      </tr>
      <tr>
        <td class="detail-label">Owner Challonge</td>
        <td class="detail-value">{{ object.user.profile.challonge_handle }}</td>
      </tr>
      {% endif %}
      
    </tbody>
  </table>

  {% if object.is_verified and object.verification_photo_url %}
  <a href="{{ object.verification_photo_url }}">
    View verification photo.
  </a>
  {% endif %}
{% endblock %}
