.posts-detail__title {
  margin-bottom: .5rem;
}

.posts-detail__item-meta {
  color: #ccc;
}

.posts-detail__content {
  margin-top: 2.5rem;
}

.posts-detail__content img:only-child {
  max-width: 100%;
  max-height: 400px;
  margin: 0 auto;
  display: block;
}
