

hr {
  margin: 1.875rem 0;
}

form input:not([type="checkbox"]),
form textarea,
form select {
  width: 100%;
  white-space: nowrap;
}

.form-wide textarea {
  font-size: 0.9375rem;
  height: 9.375rem;
}

form .helptext {
  display: block;
  width: 100%;;
  color: var(--color-text-muted);
  font-size: 14px;
}
