/* Navigation */
ul.nav {
  list-style-type: none;
  display: flex;
}

ul.nav-top {
  margin: 30px 0 35px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

li.nav__item { margin: 0 1.5rem; }
li.nav__item:first-child { margin-left: 0; }
li.nav__item:last-child { margin-right: 0; }

li.nav__spacer { flex-grow: 1; }

.nav__link {
  color: #222;
  font-size: 11px;
  letter-spacing: 0.25rem;
  line-height: 6.5rem;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__brand {
  font-weight: 600;
}