html,
body,
main {
  height: 100%;
}

/* Misc */
.brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

section + section {
  margin-top: 2rem;
}

form.form-inline {
  margin-bottom: 0;
}

.form-wide input,
.form-wide textarea,
.form-wide select {
  width: 100%;
  white-space: nowrap;
}

.form-wide textarea {
  font-size: 1.5rem;
  height: 15rem;
}

input:disabled {
  color: #ccc;
}

.input-with-button-group {
  display: flex;
}

.input-with-button-group input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-with-button-group button {
  border: 1px solid #ccc;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

table {
  font-size: 1.5rem;
}

/* helptext is built in to Django forms */
form .helptext {
  display: block;
  color: #ccc;
  font-size: 1.2rem;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
}

.text-success { color: #649d66;  }
.text-danger { color: firebrick; }
.text-muted { color: #ccc; }
.text-right { text-align: right; }

.verification_nonce_display {
  text-align: center;
  border: 3px dashed mediumpurple;
  color: rebeccapurple;
  margin: 2rem 0;
  font-size: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2rem;
}

/* Notes */
.note {
  margin-bottom: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1rem;
  background-color: #efefef;
}

.note *:last-child {
  margin-bottom: 0;
}

.note-danger {
  color: firebrick;
  border-color: firebrick;
}

.note__list { margin: 0; }
.note__list li { margin: 0; }
.note__list li:only-child { list-style-type: none; }

/*
 * Stack
 *
 * Helps keep our footer at the bottom of the page.
 */
.stack { display: flex; flex-direction: column; }
.stack__spacer { flex-grow: 1; }

/* Navigation */
.nav {
  list-style-type: none;
  display: flex;
  font-size: 1.2rem;
}

.nav-top {
  margin: 30px 0 35px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.nav__item { margin: 0 1.5rem; }
.nav__item:first-child { margin-left: 0; }
.nav__item:last-child { margin-right: 0; }

.nav__spacer { flex-grow: 1; }

.nav__link {
  color: #222;
  letter-spacing: 0.25rem;
  line-height: 6.5rem;
  text-transform: uppercase;
  text-decoration: none;
}

/* Footer */
footer {
  margin-top: 30px;
  border-top: 1px solid #eee;
}

.nav-footer {
  font-size: 0.9rem;
}

/* Pagination */
.step-links {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

/* Fancy Transition Junk */
/* * { transition: background-color 0.3s linear, color 0.3s linear, border-color: 0.3s linear; } */
* { transition: all 0.3s linear;}
.preload * { transition: all none !important;}

/* Skeleton Overrides */
.container { max-width: 600px; }

/* Responsible breakpoints */
.d-none { display: none; }
.d-inline { display: inline; }
.d-block { display: block;}
@media (min-width: 400px) {
  .d-xs-none { display: none; }
  .d-xs-inline { display: inline; }
  .d-xs-block { display: block; }
}
@media (min-width: 550px) {
  .d-md-none { display: none; }
  .d-md-inline { display: inline; }
  .d-md-block { display: block; }
}
@media (min-width: 750px) {
  .d-lg-none { display: none; }
  .d-lg-inline { display: inline; }
  .d-lg-block { display: block; }
}
/*
@media (min-width: 1000px) {}
@media (min-width: 1200px) {} 
*/