{% extends "page.html" %}
{% load static %}
{% load tournaments_extras %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'register/detail.css' %}">
{% endblock %}

{% block content %}
  <h1>Tournament Details</h1>

  <table class="u-full-width">
    <tbody>
      <tr>
        <td class="detail-label">Name</td>
        <td class="detail-value">{{ tournament.name }}</td>
      </tr>
      <tr>
        <td class="detail-label">Date</td>
        <td class="detail-value">{{ tournament.date }}</td>
      </tr>
      <tr>
        <td class="detail-label">Registration Link</td>
        <td class="detail-value">
          <a href="{{ tournament.get_sign_up_url | as_abs_url:request }}">
            {{ tournament.get_sign_up_url | as_abs_url:request }}
          </a>
        </td>
      </tr>
      <tr>
        <td class="detail-label">Players</td>
        <td class="detail-value">{{ num_players }} </td>
      </tr>
      <tr>
        <td class="detail-label">Status</td>
        <td class="detail-value text-success">
          {% if num_unverified_players == 0 %}
            <span class="text-success">All decks have been verified</span>
          {% else %}
            <span class="text-danger">
              {{ num_unverified_players }} player{{ num_unverified_players|pluralize }} still needs to verify decks
            </span>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <a class="button" href="{% url 'tournaments-edit' tournament.id %}">
      Edit
    </a>
  </div>
  
  <h2>Player Information</h2>
    <a href="{% url 'tournaments-download' tournament.id %}">
      Download Player Info
    </a>
  <div>

  </div>
  {% if num_unverified_players > 0 %}
  <div>
    <a href="{% url 'tournaments-detail' tournament.id %}">All ({{ num_players }})</a>
    /
    <a href="{% url 'tournaments-detail' tournament.id %}?show=unverified">Unverified ({{ num_unverified_players }} )</a>
  </div>
  {% endif %}
  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Discord</th>
      </tr>
    </thead>
    <tbody>
      {% for info in player_infos %}
      <tr>
        <td>
          {% if info.is_verified %}
            <span class="text-success">Verified</span>
          {% else %}
            <span class="text-danger">Not verified</span>
          {% endif %}
        </td>
        <td>{{ info.discord_handle }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}