{% extends "page.html" %}

{% block content %}
<h1>My Tournaments</h1>

{% if user.is_authenticated %}
<div style="margin-bottom: 1.5rem">
  <a href="{% url 'tournaments-new' %}">Start a new tournament.</a>
</div>
{% endif %}

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-right">Date</th>
    </tr>
  </thead>
  <tbody>
  {% for tourney in tournament_list %}
    <tr>
      <td>
        <a href="{% url 'tournaments-detail' tourney.id %}">
          {{ tourney.name }}
        </a>
      <td class="text-right">
        {{ tourney.date }}
      </td>
    </tr>
  {% empty %}
    <td colspan="3" class="text-muted">
      Nothing to see here.
    </td>
  {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
    <span>
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; First</a>
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% else %}
      <span class="text-muted">&laquo; First</span>
      <span class="text-muted">Previous</span>
      {% endif %}
    </span>

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    <span>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      {% else %}
      <span class="text-muted">Next</span>
      <span class="text-muted">Last &raquo;</span>
      {% endif %}
    </span>
  </span>
</div>
{% endblock %}