{% extends "admin/change_form.html" %}
{% block submit_buttons_bottom %}
    {{ block.super }}
    {% if original %} {# Only show if changing #}
        <div class="submit-row">
            <a href="{% url 'register-review' original.pk %}" class="button" style="margin: 0 0 0 8px">
                Review
            </a>
            <a class="button" href="{% url 'register-verify' original.pk %}" style="margin: 0 0 0 8px">
                 Verify
            </a>
        </div>
    {% endif %}
{% endblock %}