{% extends base_template %}

{% block content %}
  <h1>Terms of Service</h1>
  <div class="subheading">Last updated: Apr/21/2025</div>

  <p>These Terms of Service govern your use of <span
  class="brand">sloppylabwork.com</span> (the “Site”). By using the Site, you
  agree to these terms.</p>

  <h2>1. Eligibility</h2>
  <p>You must be at least 16 years old or the age of majority in your country to
  use this Site. By using it, you confirm that you meet this requirement.</p>

  <h2>2. User Accounts</h2>
  <p>You are responsible for maintaining the security of your account and for
  any activity that occurs under it. You agree to provide accurate and complete
  information.</p>

  <h2>3. Acceptable Use</h2>
  <p>You may not use the Site to:</p>

  <ul class="bulleted-list">
    <li>Violate any laws or regulations</li>
    <li>Infringe on others' intellectual property or privacy</li>
    <li>Transmit spam, malware, or other harmful content</li>
  </ul>

  <p>We reserve the right to suspend or terminate accounts for violations of these terms.</p>

  <h2>4. Intellectual Property</h2>
  <p>Except where otherwise noted and attributed, all content on the Site is
  owned by or licensed to us and is protected by applicable intellectual
  property laws. Where present, please honor individual licenses found with
  specific content and feel free to contact us if you would like to use or
  replicate content beyond the scope of its intended purpose.</p>

  <h2>5. Disclaimers and Limitation of Liability</h2>
  <p>The Site is provided "as is" without warranties of any kind. We disclaim
  all liability for any loss or damage resulting from your use of the Site.</p>

  <h2>6. Governing Law</h2>
  <p>These Terms shall be governed by the laws of [Your Country or
  Jurisdiction], unless otherwise required by applicable local law.</p>

  <h2>7. Changes to Terms</h2>
  <p>We may update these Terms from time to time. Continued use of the Site
  after such updates constitutes your acceptance of the revised Terms.</p>

  <h2>8. Contact</h2>
  <p>If you have questions about these Terms, please contact us at:
  inquiries@sloppylabwork.com.</p>


{% endblock %}