{% extends "tourney/_base.html" %}

{% block content %}
<h1>{{ tournament.name }}</h1>
<div class="subheading">
    <a href="{% url 'tourney-manage-players' tournament.code %}">&larr; Back</a> • Edit Player
</div>

<section>
    <h2>Edit Player</h2>
    <div class="subheading">{{ player.get_display_name }}</div>

    <form method="post" class="form-wide">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="button button-primary">Save Changes</button>
        <a href="{% url 'tourney-manage-players' tournament.code %}" class="button">Cancel</a>
    </form>
</section>
{% endblock %}
