.award-list {
  @media (max-width: 680px) {
    justify-content: space-around;
  }
}

.award-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  @media (max-width: 680px) {
    width: 8rem;
    max-width: 8rem;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.award-container.disabled img.award {
  filter: brightness(40%) grayscale(1);
  -webkit-filter: brightness(40%) grayscale(1);
}

.award-container:not(.no-hover):hover img.award,
.award-container.disabled:not(.no-hover):hover img.award {
  filter: brightness(1) grayscale(0) drop-shadow(0 0 0.5rem var(--color-primary));
  -webkit-filter: brightness(1) grayscale(0) drop-shadow(0 0 0.5rem var(--color-primary));
}

img.award {
  width: 9rem;
  height: auto;
  max-width: 9rem;
}

.award-container.large img.award {
  width: 20rem;
  max-width: 20rem;
}

@media (max-width: 680px) {
  img.award {
    width: 7rem;
    max-width: 7rem;
  }

  .award-container.large img.award {
    width: 12rem;
    max-width: 12rem;
  }
}

.award-description {
  font-size: 0.8rem;
  text-align: center;
}