
.avatar-category:not(:last-child) {
  margin-bottom: 40px;
}

ul.avatar-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.avatar-list-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.avatar-list-item,
.avatar-list-item a,
.avatar-list-item form,
.avatar-list-item img {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.avatar-list-item a:hover {
  cursor: pointer;
  box-shadow: 0 0 5px var(--color-primary);
}

.avatar-list-item.disabled a {
  pointer-events: none;
  cursor: not-allowed;
}

.avatar-list-item.disabled img {
  filter: brightness(30%) grayscale(100%);
  -webkit-filter: brightness(30%) grayscale(100%);
}

.avatar-list-item.disabled::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  background-image: url("https://static.sloppylabwork.com/pmc/lock.svg");
  z-index: 10;
}

.avatar-list-item .avatar-level-requirement {
  position: absolute;
  left: 0;
  bottom: 28px;
  width: 100%;
  color: #333;
  font-size: 20px;
  text-align: center ;
  z-index: 100;
}