:root {
  --color-bg: #131313;
  --color-paper-bg: #1f1f1f;
  --color-bg-footer: #050505;
  --color-bg-masthead: #050505;
  --color-text: #fff;
  --color-text-muted: #aaa;
  --color-links: #ffb400;
  --color-primary: #ffb400;
  --color-accent: #69140E;
  --color-success: #2BC98A;
  --color-warning: #FFE870;
  --color-lines: #2B2B2B;
  --color-danger: #FF7474;
  --border-radius: 10px;
  --border-radius-sm: 5px;
  --border-size: 3px;
  --border-size-sm: 2px;
  --gradient-primary: linear-gradient(#FFB400, #FFF200, #FFB400);
  --gradient-accent: none;

  --url-wordmark-dark-alpha: url('https://static.sloppylabwork.com/pmc/brand/KC_WORDMARK_DARK_ALPHA.png');
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html,
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  height: 100dvh;
}

a {
  color: var(--color-links);
}

h1 {
  color: var(--color-primary);
  font-size: 22pt;
  font-weight: 600;
  margin: 40px 0;
}

h2, h3, h4, h5, h6 {
  color: var(--color-text);
  font-weight: 500;
  margin: 30px 0 15px;
  text-decoration: none;
}

h2 > a,
h3 > a {
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}

h2 { font-size: 20pt; }
h3 { font-size: 18pt; }
h4 { font-size: 16pt; }
h5 { font-size: 15pt; }
h6 { font-size: 14pt; }

h1 + .subheading {
  margin-top: -30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
}

@media (max-width: 680px) {
  h1 + .subheading { margin-top: -15px }
}

h2 + .subheading,
h3 + .subheading,
h4 + .subheading,
h5 + .subheading,
h6 + .subheading {
  font-size: 12px;
  line-height: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--color-primary);
}

p { margin: 14px 0; }

ul.bulleted-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0;
}

ul.bulleted-list li {
  margin-bottom: 3px;
}

nav {
  padding: 24px 0 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav select {
  height: 38px;
  display: block;
  width: 100%;
  white-space: nowrap;
  border: var(--border-size) solid var(--color-primary);
  box-shadow: none;
  box-sizing: border-box;
  margin: 10px 0;
  font-size: 18px;
}

input,
select {
  border: var(--border-size-sm) solid var(--color-primary);
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 6px 10px;
  border-radius: var(--border-radius-sm);
  font-size: 16px;
}

form > p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

form > p > label {
  flex-basis: 120px;
}

@media (max-width: 680px) {
  form > p {
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    margin-bottom: 20px;
  }

  form > p > label {
    flex-basis: auto;
  }
}

form > p > input,
form > p > select {
  flex: 1;
}

@media (max-width: 680px) {
  h1 { margin: 20px 0; }
  h2, h3, h4, h5, h6 { margin: 20px 0 10px; }

  nav {
    padding: 10px 0 0;
  }

  nav ul {
    display: none;
  }
}

@media (min-width: 680px) {
  nav select {
    display: none;
  }
}

nav a {
  text-transform: uppercase;
  color: var(--color-text);
  font-size: 15pt;
  text-decoration: none;
}

nav a.active {
  color: var(--color-primary);
  font-weight: 600;
}

nav a:hover {
  text-shadow: 0 0 3px var(--color-primary);
}

nav li + li::before {
  content: '•';
  margin: 0 10px;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
}

/* ***********************************
 * Buttons
 * *********************************** */

.btn {
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-text);
  border: var(--border-size-sm) solid var(--color-primary);
  background-color: transparent;
  border-radius: var(--border-radius-sm);
  font-weight: 600;
  text-decoration: none;
}

.btn.btn-solid {
  background-color: var(--color-primary);
  background-image: var(--gradient-primary);
  color: var(--color-bg);
}

.btn.btn-accent {
  background-image: var(--gradient-accent);
  border-color: var(--color-accent);
  color: var(--color-text);
}


.btn:hover {
  box-shadow: 0 0 7px var(--color-primary);
}

.btn.btn-accent:hover {
  box-shadow: 0 0 7px var(--color-accent);
}

.btn.btn-block {
  display: block;
  text-align: center;
  width: 100%;;
}

.btn.btn-accent.btn-solid {
  background-color: var(--color-accent);
}

.btn-group {
  margin: 20px 0;
  display: flex;
}

.btn-group-center {
  justify-content: center;
}

.btn-group .btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group .btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn + .btn {
  margin-left: calc(0px - var(--border-size));
}

.card {
  background-color: var(--color-paper-bg);
  border-radius: var(--border-radius);
  padding: 20px 20px;
  margin: 20px 0;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  margin-top: 10px;
}

.card .card-actions {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
}

@media (max-width: 680px) {
  .card .card-actions {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
}

.card-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.card-list > .card {
  margin: 0;
  flex: 1;
}

.text-primary { color: var(--color-primary); }
.text-accent { color: var(--color-accent); }


.masthead {
  padding: 10px 0;
  border-bottom: 3px solid var(--color-accent);
  font-size: 22px;
  background-color: var(--color-bg-masthead);
}

.masthead .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wordmark {
  display: inline-block;
  height: 30px;
  width: 120px;
  background-image: var(--url-wordmark-dark-alpha);
  background-size: cover;
}

.masthead .wordmark:only-child {
  height: 50px;
  width: 200px;
  margin: 0 auto;
}

.is-not-playgroup-staff .staff-only {
  display: none;
}

code {
  font-family: monospace;
}

em {
  font-style: italic;
}

ul.inline-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

ul.inline-list li + li::before {
  content: '•';
  margin: 0 10px;
}

/* ***********************************
 * Tables
 * *********************************** */
table {
  width: 100%;
}

tr > * {
  padding: 12px 5px;
  text-align: right;
}

td {
  vertical-align: middle;
}

tr > th {
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--color-lines);
}

tr:not(:last-child) > td {
  border-bottom: 2px solid var(--color-lines);
}

tr > *:first-child {
  text-align: left;
  padding-left: 10px;
}

th.text-left,
td.text-left {
  text-align: left;
}

th.col-sm,
td.col-sm {
  width: 30px
}

th.col-md,
td.col-md {
  width: 100px;
}

tr > *:last-child {
  padding-right: 10px;
}

tr:first-child > * {
  margin-top: 10px;
}

tr:last-child > td {
  margin-bottom: 10px;
}

table .name-with-avatar {
  display: flex;
  align-items: center;
  gap: 5px;
}

table .avatar {
  height: 32px;
  width: 32px;
  background-size: cover;
}

table td.stat {
  width: 60px;
}

table a {
  text-decoration: none;
}

.levels-spread {
  font-weight: 700;
}

.levels-spread .current-level {
  font-size: 3rem;
}

.levels-spread .current-level::before {
  content: "Lv ";
  font-weight: normal;
  font-size: 1.2rem;
}

.levels-spread .next-level {
  font-size: 2.2rem;
  color: var(--color-text-muted);
}

.levels-spread .next-level::before {
  content: "Lv ";
  font-weight: normal;
  font-size: 1rem;
}


/* ***********************************
 * Player Card Elements
 * *********************************** */
.playercard {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.playercard img.background {
  width: 100%;
}

.banner-with-avatar {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-lines);
}

.banner-with-avatar img.avatar {
  margin-right: 20px;
  height: 100px;
  width: 100px;
}

.banner-sub-text {
  display: block;
  font-size: 10pt;
  font-style: italic;
}

/* ***********************************
 * Messages
 * *********************************** */
ul.messages {
  li {
    padding: 20px;
    margin: 10px 0;
    border-radius: var(--border-radius-sm);
    background-color: var(--color-primary);
    color: var(--color-bg);
  }
}


/* ***********************************
 * Progress Bar
 * *********************************** */
.progress-bar {
  background-color: var(--color-lines);
  padding: 10px;
  border-radius: 25px; /* 1/2 height of inner bar + padding */
  overflow: hidden;
 }

 .progress-bar > .progress {
  height: 30px;
  border-radius: 10px;
  background-color: var(--color-primary);
  background: var(--gradient-primary);
  animation: pulse 2s infinite;
 }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 180, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 180, 0, 0);
  }
}

/* ***********************************
 * Utilities
 * *********************************** */
.flex {
  display: flex;
}

.flex.flex-row {
  flex-direction: row;
}

.flex.flex-col {
  flex-direction: column;
}

@media (max-width: 680px) {
  .flex.flex-col-sm {
    flex-direction: column;
  }
}

.flex.flex-spread {
  justify-content: space-between;
}

.flex-spacer {
  flex: 9001;
}

.text-muted {
  color: var(--color-text-muted);
}

.text-bold {
  font-weight: 700;
}

.text-shy {
  font-weight: 300;
  font-size: 12px;
}

.elide {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* ***********************************
 * Footer
 * *********************************** */
footer {
  margin-top: 30px;
  padding: 40px 0;
  background-color: var(--color-bg-footer);
}

ul.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: smaller;
}

ul.footer-links a {
  text-decoration: none;
}