:root {
  --color-bg: #131313;
  --color-paper-bg: #1f1f1f;
  --color-bg-footer: #050505;
  --color-bg-masthead: #050505;
  --color-text: #fff;
  --color-text-muted: #aaa;
  --color-links: #ffb400;
  --color-primary: #ffb400;
  --color-accent: #69140E;
  --color-success: #2BC98A;
  --color-warning: #FFE870;
  --color-gray: #2B2B2B;
  --color-lines: var(--color-gray);
  --color-danger: #FF7474;
  --border-radius: 10px;
  --border-radius-sm: 5px;
  --border-size: 3px;
  --border-size-sm: 2px;
  --gradient-primary: linear-gradient(#FFB400, #FFF200, #FFB400);
  --color-text-on-gradient-primary: #131313;
  --color-border-on-gradient-primary: var(--color-primary);
  --color-btn-text: #fff;
  --color-btn-solid-text: #131313;

  --pulse-shadow-start: 0 0 0 0px rgba(255, 180, 0, 0.2);
  --pulse-shadow-end: 0 0 0 10px rgba(255, 180, 0, 0);

  --staff-color-paper-bg: #0c1d43;
  --staff-color-accent: #8FD3FA;
  --staff-color-lines: #8FD3FA;

  --url-wordmark-dark-alpha: url('https://static.sloppylabwork.com/pmc/brand/KC_WORDMARK_DARK_ALPHA.png');

  --icon-xp: url('https://static.sloppylabwork.com/pmc/icons/XP_SIMPLE.svg');
  --icon-rp: url('https://static.sloppylabwork.com/pmc/icons/RP_SIMPLE.svg');

  --icon-set-generic: url('https://res.cloudinary.com/dig7eguxo/image/upload/v1750447189/OTHER_wltacg.png');
  --icon-set-empty: url('https://res.cloudinary.com/dig7eguxo/image/upload/v1750446466/ADD_nex8zp.png');

  --icon-discord: url('https://res.cloudinary.com/dig7eguxo/image/upload/v1743023560/Discord-Symbol-White_qnyxug.svg');
}

/* ***********************************
 * Theme - KeyChain Light
 * *********************************** */
html.pmc-theme-1 {
  --color-bg: #eee;
  --color-paper-bg: #ddd;
  --color-bg-footer: #ddd;
  --color-bg-masthead: #ddd;
  --color-text: #000;
  --color-text-muted: #444;
  --color-links: #69140E;
  --color-primary: #69140E;
  --color-accent: #FFB400;
  --color-success: #2BC98A;
  --color-warning: #FFE870;
  --color-gray: #e9e9e9;
  --color-lines: #2B2B2B;
  --color-danger: #FF7474;
  --border-radius: 10px;
  --border-radius-sm: 5px;
  --border-size: 3px;
  --border-size-sm: 2px;
  --gradient-primary: linear-gradient(#69140E, #7e1811, #69140E);
  --color-text-on-gradient-primary: var(--color-bg);
  --color-border-on-gradient-primary: var(--color-primary);
  --color-btn-text: #000;
  --color-btn-solid-text: #fff;

  --pulse-shadow-start: 0 0 0 0px rgba(105, 20, 14, 0.2);
  --pulse-shadow-end: 0 0 0 10px rgba(105, 20, 14, 0);

  --staff-color-paper-bg: #8FD3FA;
  --staff-color-accent: #0c1d43;
  --staff-color-lines: #0c1d43;

  --url-wordmark-dark-alpha: url('https://res.cloudinary.com/dig7eguxo/image/upload/v1743023560/KC_WORDMARK_LIGHT_ALPHA_bewlrz.png');

  --icon-xp: url('https://res.cloudinary.com/dig7eguxo/image/upload/v1743645712/XP_SIMPLE_LIGHT_mtqhqe.svg');
  --icon-rp: url('https://res.cloudinary.com/dig7eguxo/image/upload/v1743645712/RP_SIMPLE_LIGHT_jologn.svg');

  --icon-discord: url('https://res.cloudinary.com/dig7eguxo/image/upload/v1743023560/Discord-Symbol-Black_cril5b.svg');
}

* {
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
}

*:not(textarea) {
  transition: all 0.3s ease-in-out;
}

html,
body .viewport {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  height: 100dvh;
}

a {
  color: var(--color-links);
}

h1,
.h1 {
  color: var(--color-primary);
  font-size: 22pt;
  line-height: 22pt;
  font-weight: 600;
  margin: 2rem 0;
}

h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--color-text);
  font-weight: 500;
  margin: 1.5rem 0 1rem;
  text-decoration: none;
}

h2>a,
h3>a {
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}

h2,
.h2 {
  font-size: 20pt;
}

h3,
.h3 {
  font-size: 18pt;
}

h4,
.h4 {
  font-size: 16pt;
}

h5,
.h5 {
  font-size: 15pt;
}

h6,
.h6 {
  font-size: 14pt;
}

h1+.subheading,
.h1+.subheading {
  margin-top: -1.4rem;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
}

@media (max-width: 680px) {
  h1+.subheading {
    margin-top: -.8rem
  }

  .h1+.subheading {
    margin-top: -.8rem
  }
}

h2+.subheading,
h3+.subheading,
h4+.subheading,
h5+.subheading,
h6+.subheading,
.h2+.subheading,
.h3+.subheading,
.h4+.subheading,
.h5+.subheading,
.h6+.subheading {
  font-size: 12px;
  line-height: 12px;
  margin-top: -0.6rem;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
  color: var(--color-primary);

  &.text-staff-only {
    color: var(--staff-color-accent);
  }
}

.staff-only h1,
.staff-only .h1 {
  color: var(--staff-color-accent);
}

.staff-only h2+.subheading,
.staff-only h3+.subheading,
.staff-only h4+.subheading,
.staff-only h5+.subheading,
.staff-only h6+.subheading,
.staff-only .h2+.subheading,
.staff-only .h3+.subheading,
.staff-only .h4+.subheading,
.staff-only .h5+.subheading,
.staff-only .h6+.subheading {
  color: var(--staff-color-accent);
}

p {
  margin: 14px 0;
}

ul.bulleted-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0;
}

ul.bulleted-list li {
  margin-bottom: 3px;
}

ul.lined-list {
  padding: 1rem 0;
}

ul.lined-list>li+li {
  border-top: 1px solid var(--color-lines);
  margin-top: 1rem;
  padding-top: 1rem;
}

nav {
  padding: 1.8rem 0 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav select {
  height: 38px;
  display: block;
  width: 100%;
  white-space: nowrap;
  border: var(--border-size) solid var(--color-primary);
  box-shadow: none;
  box-sizing: border-box;
  margin: 10px 0;
  font-size: 18px;
}

input,
textarea,
select {
  border: var(--border-size-sm) solid var(--color-primary);
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 6px 10px;
  border-radius: var(--border-radius-sm);
  font-size: 16px;
}

.staff-only input,
.staff-only textarea,
.staff-only select {
  background-color: var(--staff-color-paper-bg);
  color: var(--staff-color-accent);
  border-color: var(--staff-color-lines);
}

.form>p,
form>p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.form>p>label,
form>p>label {
  flex-basis: 120px;
}

.form>p>.helptext,
form>p>.helptext {
  width: 100%;
  text-align: right;
  font-size: smaller;
  margin-top: -6px;
  color: var(--color-text-muted);
}

@media (max-width: 680px) {

  .form>p,
  form>p {
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    margin-bottom: 20px;
  }

  .form>p>label,
  form>p>label {
    flex-basis: auto;
  }
}

.form>p>input:not([type="checkbox"]),
.form>p>textarea,
.form>p>select,
form>p>input:not([type="checkbox"]),
form>p>textarea,
form>p>select {
  flex: 1;
}

.errorlist {
  color: var(--color-danger);
}

@media (max-width: 680px) {
  h1 {
    margin: 20px 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 20px 0 10px;
  }

  nav {
    padding: 10px 0 0;
  }

  nav ul {
    display: none;
  }
}

@media (min-width: 680px) {
  nav select {
    display: none;
  }
}

nav a {
  text-transform: uppercase;
  color: var(--color-text);
  font-size: 15pt;
  text-decoration: none;
}

nav a.active {
  color: var(--color-primary);
  font-weight: 600;
}

nav a:hover {
  text-shadow: 0 0 2px var(--color-primary);
}

nav li+li::before {
  content: '•';
  margin: 0 10px;
}

.container {
  width: 100%;
  max-width: 52rem;
  margin: 0 auto;
  padding: 0 0.8rem;
}

/* ***********************************
 * Buttons
 * *********************************** */

form button,
.btn {
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 0.6rem;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--color-btn-text);
  border: var(--border-size-sm) solid var(--color-primary);
  background-color: transparent;
  border-radius: var(--border-radius-sm);
  font-weight: 600;
  text-decoration: none;
}

.btn.btn-x {
  padding: 0;
  height: 1.75rem;
  width: 1.75rem;
}

.btn.btn-small {
  padding: 0.375rem 0.25rem 0.25rem;
}

.btn.btn-solid {
  background-color: var(--color-primary);
  background-image: var(--gradient-primary);
  border-color: var(--color-border-on-gradient-primary);
  color: var(--color-text-on-gradient-primary);
}


.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: 0 0 5px var(--color-primary);
  transform: translate(0, -1px);
}


.staff-only .btn:hover {
  box-shadow: 0 0 5px var(--staff-color-accent);
}

.btn.btn-block {
  display: block;
  text-align: center;
  width: 100%;
  ;
}

.btn-group {
  margin: 20px 0;
  display: flex;
}

.btn-group-center {
  justify-content: center;
}

.btn-group .btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group .btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn+.btn {
  margin-left: -1px;
}

.staff-only .btn {
  background-color: var(--staff-color-paper-bg);
  color: var(--staff-color-accent);
  border-color: var(--staff-color-lines);
}

.staff-only .btn.btn-solid {
  background-color: var(--staff-color-accent);
  background-image: none;
  color: var(--staff-color-paper-bg);
}

/* ***********************************
 * Cards
 * *********************************** */
.card {
  background-color: var(--color-paper-bg);
  border-radius: var(--border-radius);
  padding: 20px 20px;
  margin: 20px 0;
  overflow-x: auto;
  border-left: 8px solid var(--color-lines);
}

.card.card-closable {
  position: relative;
}

.card .close-button.btn,
.card .close-button .btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card .card {
  border: 1px solid var(--color-lines);
  background-color: var(--color-lines);
  margin: 0;
  padding: 1rem;
}

.staff-only .card,
.card.staff-only {
  background-color: var(--staff-color-paper-bg);
}

.card h1:first-child,
.card h2:first-child,
.card h3:first-child,
.card h4:first-child,
.card h5:first-child,
.card h6:first-child {
  margin-top: 10px;
}

.card .card-actions {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
  margin-top: 5px;
}

@media (max-width: 680px) {
  .card .card-actions {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
}

.card-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.card-list>.card {
  margin: 0;
  flex: 1;
}

.playgroup-logo {
  max-height: 120px;
  max-width: 120px;
  background-size: cover;
}

.playgroup-logo-sm {
  max-height: 60px;
  max-width: 60px;
  background-size: cover;
}

.masthead {
  padding: 10px 0;
  border-bottom: 3px solid var(--color-accent);
  font-size: 22px;
  background-color: var(--color-bg-masthead);
}

.masthead .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wordmark {
  display: inline-block;
  height: 30px;
  width: 120px;
  background-image: var(--url-wordmark-dark-alpha);
  background-size: cover;
}

.masthead .wordmark:only-child {
  height: 50px;
  width: 200px;
  margin: 0 auto;
}

.is-not-playgroup-staff .staff-only:not(.styles-demo),
.is-not-playgroup-staff .text-staff-only:not(.styles-demo) {
  display: none;
}

.is-not-django-staff .preview:not(.styles-demo) {
  display: none;
}

code {
  font-family: monospace;
  padding: 3px 6px;
  border: 1px solid var(--color-lines);
  border-radius: var(--border-radius-sm);
}

blockquote {
  border-left: medium solid var(--color-primary);
  margin-left: 1em;
  padding-left: 1em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

ul.inline-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

ul.inline-list li+li::before {
  content: '•';
  margin: 0 0.5rem;
}

.tag-list .tag {
  background-color: var(--color-primary);
  color: var(--color-text-on-gradient-primary);
  padding: 4px 8px;
  border-radius: var(--border-radius-sm);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
}

/* ***********************************
 * Tables
 * *********************************** */
table {
  width: 100%;
}

table.selectable tr {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

table.selectable tbody tr:hover {
  background-color: var(--color-gray);
}

tr>* {
  padding: 12px 5px;
  text-align: right;
}

td {
  vertical-align: middle;
}

tr>th {
  font-weight: 700;
}

thead th {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--color-lines);
}

tbody tr:not(:last-child)>td,
tbody tr:not(:last-child)>th {
  border-bottom: 2px solid var(--color-lines);
}

tr>*:first-child {
  text-align: left;
  padding-left: 10px;
}

th.text-left,
td.text-left {
  text-align: left;
}

th.col-sm,
td.col-sm {
  width: 30px
}

.col-sm input {
  width: 60px;
}

th.col-md,
td.col-md {
  width: 100px;
}

tr>*:last-child {
  padding-right: 10px;
}

tr:first-child>* {
  margin-top: 10px;
}

tr:last-child>td {
  margin-bottom: 10px;
}

table .name-with-avatar {
  display: flex;
  align-items: center;
  gap: 5px;
}

table .name-with-avatar > :not(.avatar) {
  min-width: 0;
  overflow: hidden;
}

table .name-with-avatar .username {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td:has(.name-with-avatar) {
  max-width: 1px;
}

table .avatar {
  height: 32px;
  width: 32px;
  background-size: cover;
}

table td.stat {
  width: 60px;
}

input.stat,
td.stat input,
td.col-sm input {
  width: 60px;
}

@media (max-width: 680px) {
  input.stat {
    width: 100%;
  }
}

table a {
  text-decoration: none;
}

.levels-spread {
  font-weight: 700;
}

.levels-spread .current-level {
  font-size: 3rem;
  line-height: 3rem;
}

.levels-spread .current-level::before {
  content: "Lv ";
  font-weight: normal;
  font-size: 1.2rem;
}

.levels-spread .next-level {
  font-size: 2.2rem;
  line-height: 2.2rem;
  color: var(--color-text-muted);
}

.levels-spread .next-level::before {
  content: "Lv ";
  font-weight: normal;
  font-size: 1rem;
}


/* ***********************************
 * Player Card Elements
 * *********************************** */
.playercard {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.playercard img.background {
  width: 100%;
}

.banner-with-avatar {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-lines);
}

.banner-with-avatar img.avatar {
  margin-right: 20px;
  height: 100px;
  width: 100px;
}

.banner-with-avatar .member-info {
  flex: 1;
  min-width: 0;
}

.banner-with-avatar .member-info .banner-text {
  display: block;
  font-weight: bold;
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  padding-bottom: 2px;
}

@media (max-width: 680px) {
  .banner-with-avatar .member-info .banner-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .banner-with-avatar .member-info .banner-text {
    font-size: 1.2rem
  }
}

.card-list .card {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.card-list .card .banner-with-avatar {
  max-width: 100%;
  overflow: hidden;
}

.banner-sub-text {
  display: block;
  font-size: 10pt;
  font-style: italic;
}

/* ***********************************
 * Messages
 * *********************************** */
ul.messages {
  li {
    padding: 1.25rem;
    margin: 0.6rem 0;
    border-radius: var(--border-radius-sm);
    background-color: var(--color-primary);
    color: var(--color-bg);

    a {
      color: var(--color-bg);
    }
  }

  li:first-child {
    margin-top: 1.6rem;
  }
}


/* ***********************************
 * Progress Bar
 * *********************************** */
.progress-bar {
  background-color: var(--color-gray);
  padding: 10px;
  border-radius: 25px;
  /* 1/2 height of inner bar + padding */
  overflow: hidden;
}

.progress-bar>.progress {
  height: 30px;
  border-radius: 10px;
  background-color: var(--color-primary);
  background: var(--gradient-primary);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: var(--pulse-shadow-start);
  }

  100% {
    box-shadow: var(--pulse-shadow-end);
  }
}

/* ***********************************
 * Utilities
 * *********************************** */
.preview {
  border: 0.3rem dashed pink;
}

.pointer {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.flex.flex-wrap {
  flex-wrap: wrap;
}

.flex.flex-row {
  flex-direction: row;
}

.flex.flex-col {
  flex-direction: column;
}

.flex-gap-0 {
  gap: 0.4rem;
}

.flex-gap-1 {
  gap: 0.6rem;
}

.flex-gap-2 {
  gap: 1.2rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}


@media (max-width: 680px) {
  .flex.flex-col-sm {
    flex-direction: column;
  }
}

@media (min-width: 681px) {
  .sm-only {
    display: none !important;
  }
}

@media (max-width: 680px) {
  .lg-only {
    display: none !important;
  }
}

.flex.flex-spread {
  justify-content: space-between;
}

.flex.flex-align-baseline {
  align-items: baseline;
}

.flex.flex-align-center {
  align-items: center;
  justify-content: center;
}

.flex-spacer {
  flex: 9001;
}

.text-primary {
  color: var(--color-primary);
}

.text-accent {
  color: var(--color-accent);
}

.text-muted {
  color: var(--color-text-muted);
}

.text-staff-only {
  color: var(--staff-color-accent);
}

.text-larger {
  font-size: 1.2rem;
}

.text-smaller {
  font-size: 0.8rem;
}

.text-bold {
  font-weight: 700;
}

.text-em {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-shy {
  font-weight: 300;
  font-size: 0.8rem;
}

.elide {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.no-top-margin {
  margin-top: 0;
}

.elide {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

/* ***********************************
 * Footer
 * *********************************** */
footer {
  margin-top: 30px;
  padding: 40px 0;
  background-color: var(--color-bg-footer);
}

ul.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: smaller;
}

@media (max-width: 680px) {
  ul.footer-links li {
    width: 100%;
  }

  ul.footer-links li+li {
    margin-top: 1rem;
  }
}

@media (min-width: 681px) {
  ul.footer-links li+li::before {
    content: '•';
    color: var(--color-text);
    margin: 0 10px;
  }
}

ul.footer-links a {
  text-decoration: none;
}

/* ***********************************
 * Icons
 * *********************************** */
.pmc-icon {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.pmc-icon.pmc-icon-md {
  height: 2rem;
  width: 2rem;
}

.pmc-icon.icon-lg {
  height: 6rem;
  width: 6rem;
}

.pmc-icon.icon-xp {
  background-image: var(--icon-xp);
}

.pmc-icon.icon-rp {
  background-image: var(--icon-rp);
}

.pmc-icon.icon-set {
  background-image: var(--icon-set-generic);
}

.pmc-icon.icon-set-empty {
  background-image: var(--icon-set-empty);
}

.pmc-icon.icon-discord {
  background-image: var(--icon-discord);
}

.profile-playgroups .playgroups-list {
  margin-top: 2rem;
}

/* ***********************************
 * Markdown
 * *********************************** */
.markdown {

  ul,
  ol {
    margin: revert;
    padding: revert;
    list-style: revert;
  }
}