{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en" class="pmc-theme-{{ my_profile.theme }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
	<link rel="stylesheet" href="{% static 'pmc/css/main.css' %}">

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">

	<!-- Favicons -->
  <link rel="icon" type="image/svg+xml" href="{% static 'pmc/img/favicon.png' %}">

	<meta name="description" content="Unlock your KeyForge organized play with KeyChain">
	<meta name="keywords" content="">
	<title>KeyChain</title>

  {% block extra_head %}
    <!-- Custom head content -->
  {% endblock %}
</head>

<body
	class="body {% if not playgroup_member.is_staff %}is-not-playgroup-staff{% endif %} flex flex-col"
	hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'
>
	<div class="masthead">
		<div class="container">
			{% if playgroup %}
				<span>
					{{ playgroup.name }}
				</span>
			{% endif %}

			<a href="{% url 'pmc-my-keychain' %}" class="wordmark"></a>
		</div>
	</div>

	{% include 'pmc/_nav.html' %}

	<ul class="messages container" id="message-list">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
					{{ message }}
			</li>
			{% endfor %}
	</ul>

	<div class="container">
		{% block content %}
			<!-- Silence is golden -->
		{% endblock %}
	</div>

	<div class="flex-spacer"></div>

	<footer>
		<div class="container">
			<ul class="footer-links inline-list">
				<li><a href="{% url 'pmc-about' %}">About</a></li>
				<li><a href="{% url 'pmc-attributions' %}">Attributions</a></li>
				<li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
				<li><a href="{% url 'terms' %}">Terms of Service</a></li>
			</ul>
		</div>
	</footer>

	{% htmx_script %}
	<script type="text/javascript">
		document.addEventListener('htmx:afterRequest', function(event) {
			const messages = JSON.parse(event.detail.xhr.getResponseHeader('HX-Trigger') || '{}')?.messages ?? []
			const messageEls = messages.map(message => {
				const li = document.createElement('li')
				li.className = message.tags
				li.innerHTML = message.message
				return li
			})
			document.getElementById('message-list').replaceChildren(...messageEls)	
		});	
	</script>

	{% block extra_body %}
		<!-- Convenient place for script tags -->
	{% endblock %}
</body>
</html>
