<div class="playercard">
  <div class="banner" style="background-color: #{{ my_avatar.banner_bg_color }}">
    <img class="avatar" src="{{ my_avatar.src }}" style="border-right: 5px solid #{{ my_avatar.banner_stroke_color }}" alt="my_avatar.name">
    <div style="color: #{{ my_avatar.banner_text_color }}">
      <span class="banner-text">{{ user }}</span>
      <span class="banner-sub-text">{{ my_profile.tagline | default:'Silence is golden.' }}</span>
    </div>
  </div>

  {% if my_profile.mv_qrcode_message %}
    <img
      class="qrcode"
      src="https://static.sloppylabwork.com/{{ my_profile.get_mv_qrcode_path }}"
      alt="Master Vault QR Code" />
  {% endif %}

  <img class="background" src="{{ my_background.src }}" alt="{{ my_background.name }}">
</div>
