{% extends "pmc/_base.html" %}

{% block content %}
  <h1>{{ object }}</h1>
  <div class="subheading">
    <ul class="inline-list">
      <li>{{ object.start_date }}</li>
      <li>{{ object.get_player_count }} Players</li>
      {% if object.format is not None %}
      <li>{{ object.format }}</li>
      {% endif %}
    </ul>
  </div>
  
	<div class="card card-accent staff-only">
		<h2>Staff Area</h2>
    <div class="card-actions">

      <!-- form for event points -->
      <form action="{% url 'pmc-delete-event' playgroup.slug object.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-solid btn-accent" type="submit">
          Delete Event
        </button>
      </form>

      <form action="{% url 'pmc-event-assign-points' playgroup.slug object.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-accent" type="submit">
          Assign Points
        </button>
      </form>
    </div>
		</a>
	</div>

  <div class="card">
    <h2>Results</h2>
    <table>
      <tr>
        <th title="Finishing Position">#</th>
        <th>Player</th>
        <th title="Wins">W</th>
        <th title="Losses">L</th>
        <th title="Ranking Points">RP</th>
      </tr>
      {% for result in object.results.all %}
        <tr>
          <td class="stat">{{ result.finishing_position|default_if_none:"-" }}</td>
          <td>
            <div class="name-with-avatar">
              <img class="avatar" src="https://static.sloppylabwork.com/pmc/tmp/kc-logo-dark.png" alt="">
              {{ result.user }}
            </div>
          </td>
          <td class="stat">{{ result.num_wins|default_if_none:"-" }}</td>
          <td class="stat">{{ result.num_losses|default_if_none:"-" }}</td>
          <td class="stat">{{ result.ranking_points.first|default_if_none:"-" }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}

