{% extends "pmc/_base.html" %}

{% block content %}
  <h1>{{ object }}</h1>
  <div class="subheading">
    <ul class="inline-list">
      <li>{{ object.start_date }}</li>
      <li>{{ object.get_player_count }} Players</li>
      {% if object.format is not None %}
      <li>{{ object.format }}</li>
      {% endif %}
    </ul>
  </div>
  
	<div class="card card-accent staff-only">
		<h2>Staff Area</h2>
    <div class="card-actions">

      <!-- form for event points -->
      <form action="{% url 'pmc-delete-event' playgroup.slug object.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-solid btn-accent" type="submit">
          Delete Event
        </button>
      </form>

      <form action="{% url 'pmc-event-assign-points' playgroup.slug object.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-accent" type="submit">
          Assign Points
        </button>
      </form>
    </div>
		</a>
	</div>

  <ul class="card-list">
    {% for result in object.results.all %}
      <li class="card">
        <h2>{{ result.user }}</h2>
        <ul class="stats-list">
          {% if result.ranking_points.first is not None %}
          <li>
            <span class="label">Ranking Points</span>
            <span class="value">{{ result.ranking_points.first }}</span>
          </li>
          {% endif %}
          {% if result.finishing_position is not None %}
          <li>
            <span class="label">Finishing Position</span>
            <span class="value">{{ result.finishing_position }}</span>
          </li>
          {% endif %}
          {% if result.num_wins is not None %}
          <li>
            <span class="label">Wins</span>
            <span class="value">{{ result.num_wins }}</span>
          </li>
          {% endif %}
          {% if result.num_losses is not None %}
          <li>
            <span class="label">Losses</span>
            <span class="value">{{ result.num_losses }}</span>
          </li>
          {% endif %}
        </ul>
      </li>
    {% empty %}
      <li>No results</li>
    {% endfor %}
  </ul>
{% endblock %}

