{% extends "pmc/_base.html" %}

{% block content %}

<h1>Attributions</h1>

<h2>Overview</h2>

<p>KeyChain is an unofficial, community-made platform built to enhance and
support organized play for KeyForge, the unique card game created by Richard
Garfield and published by Ghost Galaxy.  The use of the KeyForge intellectual
property, illustrations, and other brand assets are used under Ghost Galaxy's
Intellectual Property Use Policy. KeyForge and the KeyForge logo are registered
trademarks of Ghost Galaxy, Inc. All Rights Reserved.</p>

<h2>Illustrations</h2>

<p>KeyChain uses illustrations from KeyForge as options for playercard
personalization. All illustrations are © Ghost Galaxy. We would like to
recognize the following illustrators with illustrations featured in
KeyChain:</p>

<ul class="bulleted-list">
  <li><a href="https://archonarcana.com/Adam_Vehige">Adam Vehige</a> (Fuzzy Gruen)</li>
  <li>Allison Capa (Redeemer Amara)</li>
  <li><a href="https://archonarcana.com/%C3%82ngelo_Bortolini">Ângelo Bortolini</a> (Dark Tidings)</li>
  <li><a href="https://archonarcana.com/Art_Tavern">Art Tavern</a> (Kaupe)</li>
  <li>Arthur Magalhaes (Catena Fiend)</li>
  <li><a href="https://archonarcana.com/BalanceSheet">BalanceSheet</a> (Ammonia Clouds, Burn the Stockpile, Ecto-Charge, Haunted House Library of Babble)</li>
  <li><a href="https://archonarcana.com/Caio_Monteiro">Caio Monteiro</a> (Kalifi Dragon)</li>
  <li><a href="https://archonarcana.com/Caravan_Studio">Caravan Studio</a> (Dominator Bauble)</li>
  <li><a href="https://archonarcana.com/Colin_Searle">Colin Searle</a> (Tactical Officer Moon)</li>
  <li><a href="https://archonarcana.com/David_Kegg">David Kegg</a> (Starting the Journey)</li>
  <li>David Otálora (Cloudburst Command, Discovering KeyForge)</li>
  <li><a href="https://archonarcana.com/Djib">Djib</a> (Dr. Xyloxxzlphrex, Brend the Fanatic)</li>
  <li><a href="https://archonarcana.com/Francisco_Badilla">Francisco Badilla</a> (Memolith)</li>
  <li><a href="https://archonarcana.com/Hans_Krill">Hans Krill</a> (Sloppy Labwork)</li>
  <li><a href="https://archonarcana.com/Ivan_Tao">Ivan Tao</a> (Almsmaster)</li>
  <li><a href="https://archonarcana.com/Jeferson_Cordeiro">Jeferson Cordeiro</a> (Niche Market)</li>
  <li><a href="https://archonarcana.com/Jess%C3%A9_Suursoo">Jessé Suursoo</a> (Punctuated Equilibrium)</li>
  <li><a href="https://archonarcana.com/Julia_Alentseva">Julia Alentseva</a> (Edge of the World)</li>
  <li><a href="https://archonarcana.com/Kaion_Luong">Kain Luong</a> (Moon Light Special)	</li>
  <li><a href="https://archonarcana.com/Kevin_Sidharta">Kevin Sidharta</a> (The Abyssal Conspiracy, Chaostadon, Grim Reminders, The Keyraken)</li>
  <li><a href="https://archonarcana.com/Mariana_Ennes">Mariana Ennes</a> (The Chosen One)</li>
  <li><a href="https://archonarcana.com/Michael_Angelo_Dulay">Michael Angelo Dulay</a> (Vindication Outpost)</li>
  <li><a href="https://archonarcana.com/Monztre">Monztre</a> (Might Makes Right)</li>
  <li><a href="https://archonarcana.com/Nasrul_Hakim">Nasrul Hakim</a> (Bad Penny)</li>
  <li>Nicholas Hoe (Humble Restraint)</li>
  <li><a href="https://archonarcana.com/Scott_Schomburg">Scott Schomburg</a> (The Æmber Sky)</li>
  <li><a href="https://archonarcana.com/Sean_Donaldson">Sean Donaldson</a> (Unlocked Gateway)</li>
  <li>Shady Khoury (Vault Assault)</li>
  <li>VictorG.Art (Paleogene Society)</li>
  <li>Xavi Planas (Ensign Clark)</li>
</ul>

<h2>Credits</h2>

<h3>KeyChain Development Team</h3>

<ul class="inline-list">
  <li>Dead-Sync</li>
  <li>jj</li>
  <li>jtrussell</li>
  <li>quickdraw3457</li>
</ul>

<h3>Special Thanks</h3>

<ul class="bulleted-list">
  <li>Fabulousing and June for their contributions of Keymander content.</li>
  <li>Cloggin and EmperorRiku for their contributions in ideation and early development.</li>
</ul>
{% endblock %}

