{% extends "pmc/_base.html" %}
{% load partials %}

{% partialdef rankings-card %}
  <table>
    <thead>
      <th class="col-sm">#</th>
      <th class="text-left">Player</th>
      <th class="col-md lg-only">Points</th>
      <th class="col-md lg-only">Events</th>
    </thead>
    <tbody>
      {% for item in rankings_page %}
      <tr>
        <td class="col-sm">{{ item.rank }}</td>
        <td class="text-left">
          <div class="name-with-avatar">
            <img class="avatar" src="{{ item.user.pmc_profile.get_avatar.src}}" alt="">
            <div>
              <a href="{% url 'pmc-user-profile' item.user.username %}">
                <span class="username text-larger">{{ item.user }}</span>
              </a>
              <ul class="inline-list text-smaller sm-only">
                <li><span class="text-muted">Points:</span> {{ item.total_points | floatformat:0 }}</li>
                <li><span class="text-muted">Events:</span> {{ item.num_results }}</li>
              </ul>
              </div>
            </div>
          </div>
        </td>
        <td class="col-md lg-only">
          {{ item.total_points | floatformat:0 }}
        </td>
        <td class="col-md lg-only">
          {{ item.num_results }}
        </td>
      </tr>
      {% empty %}
        <td colspan="4" class="text-muted">Nothing to see here.</td>
      {% endfor %}
    </tbody>
  </table>

  {% if rankings_page.paginator.num_pages > 1 %}
  <div class="btn-group btn-group-center" role="group" aria-label="Item pagination">
    {% if rankings_page.has_previous %}
        <button type="submit" name="page" value="{{ rankings_page.previous_page_number }}" class="btn">&laquo;</a>
    {% else %}
        <button type="button" class="btn">&laquo;</span>
    {% endif %}

    {% for page_number in rankings_page.paginator.page_range %}
        {% if rankings_page.number == page_number %}
            <button type="button" class="btn btn-solid">
                {{ page_number }}
            </button>
        {% else %}
            <button type="submit" name="page" value="{{ page_number }}" class="btn">
                {{ page_number }}
            </a>
        {% endif %}
    {% endfor %}

    {% if rankings_page.has_next %}
        <button type="submit" name="page" value="{{ rankings_page.next_page_number }}" class="btn">&raquo;</a>
    {% else %}
        <span type="button" class="btn">&raquo;</span>
    {% endif %}
  </div>
  {% endif %}
{% endpartialdef %}


{% block content %}
<h1>Leaderboards</h1>

<div class="btn-group btn-group-center">
  {% for lb in leaderboards %}
  <a href="{% url 'pmc-leaderboard' lb.pk %}" class="btn{% if lb.pk == pk %} btn-solid{% endif %}">
    {{ lb }}
  </a>
  {% endfor %}
</div>

<form method="GET">
  {% for field in season_period_form %}
    <p>
      {{ field.label_tag }}
      {{ field }}
    </p>
  {% endfor %}
  <div class="card" hx-target="false">
    {% partial rankings-card %}
  </div>
</form>
{% endblock %}
