{% extends "pmc/_base.html" %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'pmc/css/awards.css' %}">
  <link rel="stylesheet" href="{% static 'css/drag-drop.css' %}">
{% endblock %}

{% block content %}
  <h1>Awards</h1>
  <div class="subheading">Check out my Static Collection Array</div>

  {% include 'pmc/_awards-content.html' %}

  <script src="{% static 'js/drag-drop.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      initAwardShelfDragDrop()
    })

    document.addEventListener('htmx:afterSwap', function (e) {
      if (e.detail.target.id === 'awards-content') {
        htmx.process(e.detail.target)
        initAwardShelfDragDrop()
      }
    })

    function initAwardShelfDragDrop() {
      new DragDropManager('#award-shelf-slots', {
        itemSelector: '.award-shelf-item',
        onReorder: function (orderedIds) {
          htmx.ajax('POST', '{% url "pmc-reorder-pins" %}', {
            values: { pin_order: orderedIds.join(',') },
            target: '#awards-content',
            swap: 'outerHTML',
          })
        },
      })
    }
  </script>
{% endblock %}
