{% extends "pmc/_base.html" %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'pmc/css/playercard.css' %}">
{% endblock %}

{% block content %}
  <h1>My KeyChain</h1>

  <h2>Global</h2>

  <div class="card flex flex-col flex-gap-2">
    <div class="flex flex-row flex-col-sm flex-gap-2">
      <div class="flex-1">
        <h3>Playercard</h3>
        {% include 'pmc/_playercard.html' %}
      </div>
      <div>
        <h3>Most Recent Event</h3>
        <table>
          <tbody>
            {% if my_results.first %}
            <tr>
              <td colspan="2">
                <a href="{% url 'pmc-event-detail' my_results.first.event.pk %}">
                  {{ my_results.first.event }}
                </a>
              </td>
            </tr>
            <tr>
              <td class="text-muted">Date</td>
              <td>{{ my_results.first.event.start_date | date:"SHORT_DATE_FORMAT" }}</td>
            </tr>
            <tr>
              <td class="text-muted">Record (W/L)</td>
              <td>{{ my_results.first.num_wins | default_if_none:"-" }} / 
                {{ my_results.first.num_losses | default_if_none:"-" }}</td>
            </tr>
            <tr>
              <td class="text-muted">Experience <i class="pmc-icon icon-xp"></i></td>
              <td>{{ my_results.first.get_xp }}</td>
            </tr>
            <tr>
              <td class="text-muted">Ranking Points <i class="pmc-icon icon-rp"></i></td>
              <td>{{ my_results.first.ranking_points.first.points | default_if_none:"-" }}</td>
            </tr>
            {% else %}
              <tr>
                <td class="text-muted">None yet</td>
              </tr> 
            {% endif %}
          </tbody>
        </table>

        <h3>Stats</h3>
        <table>
          <tbody>
            <tr>
              <td class="text-muted">Events Attended</td>
              <td>{{ my_results.count }}</td>
            </tr>
            <tr>
              <td class="text-muted">Events Won</td>
              <td>{{ events_won.count }}</td>
            </tr>
            <tr>
              <td class="text-muted">Match Wins</td>
              <td>{{ num_game_wins }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <div class="flex flex-row flex-spread flex-align-baseline levels-spread">
        <span class="current-level">{{ current_level }}</span>
        <span class="next-level">{{ next_level }}</span>
      </div>
      <div class="progress-bar">
        <div class="progress" style="width: {{ percent_level_up }}%"></div>
      </div>
      <div class="text-muted">
        {{ level_increment_progress }} / {{ level_increment }}  <i class="pmc-icon icon-xp"></i>
      </div>
    </div>

    <div class="card-actions">
      <a href="{% url 'pmc-my-keychain-manage' %}" class="btn">
        Edit Profile
      </a>
      <a href="{% url 'pmc-manage-avatar' %}" class="btn btn-solid">
        Edit Playercard
      </a>
    </div>
  </div>

  <h2>My Playgroups</h2>

  {% for membership in memberships %}
    <div class="card">
      <div class="flex flex-row flex-gap-2">
        {% if membership.playgroup.logo_src %}
          <img src="{{ membership.playgroup.logo_src }}" alt="{{ membership.playgroup.name }} logo" class="playgroup-logo">
        {% endif %}
        <div class="flex-1">
          <h3>
            <a href="{% url 'pmc-pg-detail' membership.playgroup.slug %}">{{ membership.playgroup.name }}</a>
          </h3>
          <div class="subheading">Playgroup</div>

          <p>
            Nickname: {{ membership.nickname }}<br />
            Member Since: {{ membership.joined_on | date:"SHORT_DATE_FORMAT" }}
          </p>
        </div>
      </div>
      
      <div class="card-actions">
        <a href="{% url 'pmc-pg-events' membership.playgroup.slug %}" class="btn">Events</a>
        <a href="{% url 'pmc-pg-members' membership.playgroup.slug %}" class="btn">Members</a>
        <a href="{% url 'pmc-pg-leaderboard' membership.playgroup.slug %}" class="btn">Leaderboards</a>
        <span class="flex-spacer"></span>
        <a href="{% url 'pmc-my-pg-manage' membership.playgroup.slug %}" class="btn btn-solid">
          Edit
        </a>
      </div>
    </div>
  {% empty %}
    <div class="card">
      <p class="text-muted">No playgroups yet.</p>
    </div>
  {% endfor %}

{% endblock %}
