{% extends "pmc/_base.html" %}
{% load static %}
{% load pmc_extras %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'pmc/css/awards.css' %}">
{% endblock %}

{% block content %}
  <h1>Awards</h1>
  <div class="subheading">Check out my Static Collection Array</div>

  <div class="card">
    <h2>Badges</h2>
    <p>Badges are one-time awards, typically granted by an EO.</p>

    <ul class="award-list flex flex-wrap">
      {% for badge in badges %}
        {% if badge.user_badge_id or not badge.is_hidden %}
          <li>
            <a href="{% url 'pmc-my-badge-detail' badge.pk %}"  class="award-container {% if not badge.user_badge_id %}disabled{% endif %}">
              <img src="{{ badge.src }}" alt="{{ badge.name }} badge" class="award" />
              <span class="text-shy text-center">{{ badge.name }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="card">
    <h2>Achievements</h2>
    <p>Earn achievements and level up by participating in events.</p>

    <ul class="award-list flex flex-wrap">
      {% for achievement in achievements %}
        {% if achievement.user_trophy_amount or not achievement.is_hidden %}
          <li>
            <a href="{% url 'pmc-my-achievement-detail' achievement.pk %}"  class="award-container {% if not achievement.user_achievement_tier_src %}disabled{% endif %}">
              <img src="{{ achievement.user_achievement_tier_src | default:achievement.lowest_tier_src }}" alt="{{ achievement.name }} trophy" class="award" />
              <span class="text-shy text-center">{{ achievement.name }}</span>
              <span>
                {{ achievement.user_achievement_tier | achievement_tier_label }}
              </span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="card">
    <h2>Trophies</h2>
    <p>Collect trophies... </p>

    <ul class="award-list flex flex-wrap">
      {% for trophy in trophies %}
        {% if trophy.user_trophy_amount or not trophy.is_hidden %}
          <li>
            <a href="{% url 'pmc-my-trophy-detail' trophy.pk %}"  class="award-container {% if not trophy.user_trophy_amount %}disabled{% endif %}">
              <img src="{{ trophy.src }}" alt="{{ trophy.name }} trophy" class="award" />
              <span class="text-shy text-center">{{ trophy.name }}</span>
              <span class="trophy-amount">
                {{ trophy.user_trophy_amount | default:"0" }}
              </span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}