{% extends "pmc/_base.html" %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'pmc/css/playercard.css' %}">
{% endblock %}

{% block content %}
  <h1>My KeyChain</h1>

  <h2>Global</h2>
  <div class="subheading">@{{ user }}</div>

  <div class="card">
    <h3>Playercard</h3>
    {% include 'pmc/_playercard.html' %}

    <h3 style="margin-top: 30px">My Stats</h3>
    <div>
      <div class="flex row spread levels-spread">
        <span class="current-level">{{ current_level }}</span>
        <span class="flex-spacer"></span>
        <span class="next-level">{{ next_level }}</span>
      </div>
      <div class="progress-bar">
        <div class="progress" style="width: {{ percent_level_up }}%"></div>
      </div>
      <div class="text-muted">
        {{ level_increment_progress }} / {{ level_increment }} XP
      </div>
    </div>

    <div class="card-actions">
      <a href="{% url 'pmc-my-keychain-manage' %}" class="btn">
        Edit Profile
      </a>
      <a href="{% url 'pmc-manage-avatar' %}" class="btn btn-solid">
        Edit Playercard
      </a>
    </div>
  </div>

  <h2>My Playgroups</h2>

  {% for membership in memberships %}
    <div class="card">
      <h3>
        <a href="{% url 'pmc-pg-detail' membership.playgroup.slug %}">{{ membership.playgroup.name }}</a>
      </h3>
      <div class="subheading">Playgroup</div>

      <p>
        Nickname: {{ membership.nickname }}<br />
        Member Since: {{ membership.joined_on }}
      </p>
      
      <div class="card-actions">
        <a href="{% url 'pmc-pg-events' membership.playgroup.slug %}" class="btn">Events</a>
        <a href="{% url 'pmc-pg-members' membership.playgroup.slug %}" class="btn">Members</a>
        <a href="{% url 'pmc-pg-leaderboard' membership.playgroup.slug %}" class="btn">Leaderboards</a>
        <span class="flex-spacer"></span>
        <a href="{% url 'pmc-my-pg-manage' membership.playgroup.slug %}" class="btn btn-solid">
          Edit
        </a>
      </div>
    </div>
  {% endfor %}

{% endblock %}
