{% extends "pmc/_base.html" %}
{% load posts_extras %}

{% block content %}
  <div class="flex flex-row flex-col-sm flex-gap-1">
    {% if object.logo_src %}
      <img src="{{ object.logo_src }}" alt="{{ object.name }} logo" class="playgroup-logo">
    {% endif %}
    <div class="flex-1">
      <h1>{{ object.name }}</h1>
      <div class="subheading">
        <ul class="inline-list">
          <li>
            <a href="{% url 'pmc-pg-members' object.slug %}">{{ object.members.count }} Member(s)</a>
          </li>
          <li>
            <a href="{% url 'pmc-pg-events' object.slug %}">{{ object.events.count }} Event(s).</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  {% if object.description %}
    <div class="card no-top-margin">
      {{ object.description | markdown | safe }}
    </div>
  {% endif %}
{% endblock %}