{% extends "pmc/_base.html" %}
{% load partials %}

{% partialdef result-row %}
  <tr hx-target="this">
    <!-- Small screens -->
    <td class="col-sm text-larger sm-only">{{ result.finishing_position|default_if_none:"-" }}</td>
    <td class="sm-only">
      <div class="name-with-avatar text-larger">
      <img class="avatar" src="{{ result.user.pmc_profile.get_avatar.src}}" alt="">
        {{ result.user }}
      </div>
      <div class="flex flex-row flex-gap-1 text-muted text-smaller">
        <span>Wins: {{ result.num_wins|default_if_none:"-" }}</span>
        <span>Losses: {{ result.num_losses|default_if_none:"-" }}</span>
        <span>RP: {{ result.ranking_points.first|default_if_none:"-" }}</span>
      </div>
    </td>

    <!-- Large screens -->
    <td class="col-sm lg-only">{{ result.finishing_position|default_if_none:"-" }}</td>
    <td class="lg-only">
      <div class="name-with-avatar">
      <img class="avatar" src="{{ result.user.pmc_profile.get_avatar.src}}" alt="">
        {{ result.user }}
      </div>
    </td>
    <td class="stat lg-only">{{ result.num_wins|default_if_none:"-" }}</td>
    <td class="stat lg-only">{{ result.num_losses|default_if_none:"-" }}</td>
    <td class="stat lg-only">{{ result.ranking_points.first|default_if_none:"-" }}</td>


    <td class="staff-only col-sm">
      <a
        class="btn"
        hx-delete="{% url 'pmc-pg-manage-result' playgroup.slug result.pk %}"
        hx-swap="outerHTML"
        hx-target="#results-table"
      >X</a>
    </td>
  </tr>
{% endpartialdef %}

{% partialdef results-table %}
    <table id="results-table">
      <tr>
        <th title="Finishing Position">#</th>
        <th class="text-left">Player</th>

        <th class="lg-only" title="Wins">W</th>
        <th class="lg-only" title="Losses">L</th>
        <th class="lg-only" title="Ranking Points">RP</th>

        <th class="staff-only">&nbsp;</th>
      </tr>

      {% for result in object.results.all %}
        {% partial result-row %}
      {% endfor %}

      <tr class="staff-only" id="add-result-row">
        <td colspan="100%">
          <div class="flex flex-row flex-col-sm flex-gap-1">
            <label class="sm-only">Finishing Position</label>
            <input id="form-entry-point" type="number" class="stat" placeholder="#" name="finishing_position" />

            <label class="sm-only" for="username">Username</label>
            <input required type="text" class="flex-1" name="username" list="usernames-list" placeholder="Username"/>
            <datalist id="usernames-list">
              {% for member in playgroup.members.all %}
                <option value="{{ member.user.username }}"></option>
              {% endfor %}
            </datalist>

            <label class="sm-only" for="num_wins">Number of Wins</label>
            <input type="number" class="stat" placeholder="W" name="num_wins">

            <label class="sm-only" for="num_losses">Number of Losses</label>
            <input type="number" class="stat" placeholder="L" name="num_losses">
            <button type="submit" class="btn btn-solid">Add</button>
          </div>
        </td>
      </tr>
    </table>
{% endpartialdef %}

{% block content %}
  <h1>{{ object }}</h1>
  <div class="subheading">
    <ul class="inline-list">
      <li>{{ object.start_date }}</li>
      <li>{{ object.get_player_count }} Players</li>
      {% if object.format is not None %}
      <li>{{ object.format }}</li>
      {% endif %}
    </ul>
  </div>
  
	<form method="POST" class="card staff-only">
		<h2>Staff Area</h2>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="card-actions">
        <a href="{% url 'pmc-pg-event-detail' playgroup.slug object.pk %}" class="btn">
          &larr; Back
        </a>
        <span class="flex-1"></span>
        <button class="btn btn-solid" type="submit">Update</button>
      </div>
  </form>
    
  <div class="card staff-only">
    <h2>Danger Zone</h2>
    <p>No take backsies.</p>
    
    <div class="card-actions">
      <button
        class="btn"
        type="submit"
        hx-post="{% url 'pmc-delete-event' playgroup.slug object.pk %}"
        hx-confirm="Are you sure you would like to delete this event? This may impact RP and XP for participants."
      >
        Delete Event
      </button>
    </div>
		</a>
	</div>

  <div class="card">
    <h2>Results</h2>

    {% if object.tags.exists %}
      <ul class="inline-list tag-list">
        {% for tag in object.tags.all %}
        <li class="tag">{{ tag.name }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form
      autocomplete="off"
      hx-post="{% url 'pmc-pg-add-event-result' playgroup.slug object.pk %}"
      hx-target="#results-table"
      hx-swap="outerHTML"
      hx-on::after-request="if(event.detail.successful) { this.reset(); htmx.find('#form-entry-point').focus() }"
    >
      {% partial results-table %}
    </form>
  </div>
{% endblock %}