{% extends "pmc/_base.html" %}

{% block content %}
<h1>Leaderboard</h1>

<div class="btn-group btn-group-center">
  {% for lb in leaderboards %}
  <a href="{% url 'pmc-pg-leaderboard' slug lb.pk %}" class="btn{% if lb.pk == pk %} btn-solid{% endif %}">
    {{ lb }}
  </a>
  {% endfor %}
</div>

<div class="card">
  <table>
    <thead>
      <th class="col-sm">#</th>
      <th class="text-left">Player</th>
      <th class="col-md">Points</th>
      <th class="col-md">Events</th>
    </thead>
    <tbody>
      {% for item in rankings %}
      <tr>
        <td class="col-sm">{{ item.rank }}</td>
        <td class="text-left">
          <div class="name-with-avatar">
            <img class="avatar" src="https://static.sloppylabwork.com/pmc/tmp/kc-logo-dark.png" alt="">
            {{ item.user }}
          </div>
        </td>
        <td class="col-md">
          {{ item.total_points | floatformat:0 }}
        </td>
        <td class="col-md">
          {{ item.num_results }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
