{% extends "pmc/_base.html" %}

{% block content %}
	<h1>Members</h1>
	<ul class="card-list">
		{% for member in members %}
			<li class="card">
				<h2 class="banner-with-avatar" style="background-color: #{{ member.user.pmc_profile.get_avatar.banner_bg_color }}">
					<img class="avatar" src="{{ member.user.pmc_profile.get_avatar.src }}" style="border-right: 3px solid #{{ member.user.pmc_profile.get_avatar.banner_stroke_color }}" alt="">
					<div style="color: #{{ member.user.pmc_profile.get_avatar.banner_text_color }}">
						<span class="banner-text">{{ member }}</span>
						<span class="banner-sub-text">{{ member.user.pmc_profile.tagline | default:"Silence is golden." }}</span>
					</div>
				</h2>

				<div class="card-actions">
					<a class="btn btn-solid" href="{% url 'pmc-pg-member-detail' playgroup.slug member.user.username %}">
						Profile
					</a>
				</div>
			</li>
		{% empty %}
			<li>No members yet.</li>
		{% endfor %}
	</ul>
{% endblock %}