{% extends "pmc/_base.html" %}

{% block content %}
  <h1>{{ playgroup_member }} @ {{ playgroup }}</h1>

  <div class="card">
    <h2>My Profile</h2>
    <p>
      Nickname: {{ playgroup_member.nickname }}<br />
      House Flair: {{ playgroup_member.get_house_flair_display }}<br />
      Tagline: {{ playgroup_member.tagline }}<br />
      Member Since: {{ playgroup_member.joined_on }}
    </p>
    <div class="card-actions">
      <a href="{% url 'pmc-my-pg-manage' playgroup.slug %}" class="btn btn-solid">
        Edit
      </a>
    </div>
  </div>

  <div class="card">
    <h2>Recent Events</h2>
    <p>You have attended {{ events.count }} events with this group.</p>
  </div>
{% endblock %}
