{% extends "pmc/_base.html" %}

{% block content %}
<h1>Heading 1</h1>

<h1>Heading 1</h1>
<div class="subheading">With Sub heading</div>

<h2>Heading 2</h2>

<h2>Heading 2</h2>
<div class="subheading">with sub heading</div>

<h3>Heading 3</h3>

<h4>Heading 4</h4>

<h5>Heading 5</h5>

<h6>Heading 6</h6>

<div class="btn-group btn-group-center">
  <button class="btn">Secondary</button>
  <button class="btn btn-solid">Navigation</button>
  <button class="btn">One</button>
  <button class="btn">Two</button>
  <button class="btn">Three</button>
  <button class="btn">Four</button>
</div>

<div class="card">
  <h2>Heading 2</h2>
  <p>This is a standard card with actions.</p>
  <div class="card-actions">
    <button class="btn btn-solid">Clicky</button>
    <button class="btn">Clicky</button>
  </div>
</div>

<div class="card card-accent">
  <h2>Heading 2</h2>
  <p>This is an accented card with a block action.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
  pellentesque ex sem, in placerat ligula viverra vel. Ut bibendum ante et
  fermentum bibendum. Morbi efficitur quis mi a consectetur. Interdum et
  malesuada fames ac ante ipsum primis in faucibus. Sed finibus mattis pretium.
  Sed semper metus ac lorem imperdiet, et imperdiet nisl tempor. Ut nec nibh a
  diam condimentum tempus. Vivamus posuere aliquam ligula non dictum. Vestibulum
  consectetur nibh ac dui luctus, ac facilisis nulla lobortis. Integer lobortis
  urna ac risus molestie, a sodales erat condimentum. Ut ultricies eros non arcu
  congue congue. Quisque malesuada sit amet libero et posuere. In laoreet enim
  ut elit cursus dignissim. Nam vel consequat metus. Suspendisse commodo elit
  sed ligula hendrerit, non interdum urna malesuada.</p>

  <p>Nunc mi nisi, luctus sit amet iaculis sit amet, pellentesque eu augue.
  Suspendisse potenti. Pellentesque faucibus augue nisi, sed lobortis libero
  ullamcorper fringilla. Ut accumsan libero eu egestas vulputate. Sed
  ullamcorper tortor ut magna condimentum, vel tempus ex aliquam. Phasellus sit
  amet viverra lectus. Proin fermentum nibh turpis, eget laoreet felis faucibus
  vitae. Nulla placerat urna at consequat vulputate.</p>

  <p>Maecenas finibus tellus ac sem rhoncus euismod. Duis viverra auctor sapien,
  eget iaculis justo congue et. Donec pharetra in metus ut sagittis. Ut a dictum
  est. Maecenas congue tincidunt nisi, ut gravida enim scelerisque vitae. Mauris
  scelerisque nibh eget efficitur ultricies. Etiam id velit dictum, molestie
  quam quis, egestas nibh. Morbi vel nisl id elit fringilla semper. Suspendisse
  sed risus ipsum. Praesent dui justo, iaculis in condimentum eget, congue quis
  elit. Fusce sem libero, tincidunt vel neque in, laoreet porta eros.</p>

  <div class="card-actions">
    <button class="btn btn-accent btn-solid btn-block">Clicky</button>
  </div>
</div>

<h2>A Table</h2>

<div class="card">
  <table>
    <thead>
      <tr>
        <th>Player</th>
        <th>Stat</th>
        <th>Stat</th>
        <th>Stat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="name-with-avatar">
            <img class="avatar" src="https://static.sloppylabwork.com/pmc/tmp/kc-logo-dark.png" alt="">
            Dead-Sync
          </div>
        </td>
        <td>5</td>
        <td>7</td>
        <td>1</td>
      </tr>

      <tr>
        <td>
          <div class="name-with-avatar">
            <img class="avatar" src="https://static.sloppylabwork.com/pmc/tmp/kc-logo-dark.png" alt="">
            quickdraw3457
          </div>
        </td>
        <td>5</td>
        <td>7</td>
        <td>1</td>
      </tr>

      <tr>
        <td>
          <div class="name-with-avatar">
            <img class="avatar" src="https://static.sloppylabwork.com/pmc/tmp/kc-logo-dark.png" alt="">
            jj
          </div>
        </td>
        <td>5</td>
        <td>7</td>
        <td>1</td>
      </tr> 

      <tr>
        <td>
          <div class="name-with-avatar">
            <img class="avatar" src="https://static.sloppylabwork.com/pmc/tmp/kc-logo-dark.png" alt="">
            jtrussell
          </div>
        </td>
        <td>5</td>
        <td>7</td>
        <td>1</td>
      </tr> 
    </tbody>
  </table>
</div>

{% endblock %}