<footer>
  <ul class="nav nav-footer">
    <li class="nav__item">
      <a class="nav__link" href="{% url 'the-team' %}">The Team</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="{% url 'contact' %}">Contact</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="https://github.com/jtrussell/sloppy-labwork">Code</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="https://trello.com/b/JaphVrLI/sloppy-labwork">Roadmap</a>
    </li>
  </ul>
</footer>