<ul class="nav nav-top">
  <li class="nav__item">
    <a href="{% url 'home' %}" class="nav__link">
      Home
    </a>
  </li>

  {% if ft_use_posts %}
  <li class="nav__item">
    <a href="{%url 'posts-list' %}" class="nav__link">
      Articles
    </a>
  </li>
  {% endif %}

  {% if ft_use_register %}
  <li class="nav__item">
    <a href="{% url 'register-home' %}" class="nav__link">
      Register
    </a>
  </li>
  {% endif %}

  {% if ft_use_ratings %}
  <li class="nav__item">
    <a href="{% url 'home-ratings' %}" class="nav__link">
      Ratings
    </a>
  </li>
  {% endif %}

  <li class="nav__spacer">&nbsp;</li>

  <li class="nav__item">
    {% if request.user.is_authenticated %}
    <a href="{% url 'profile' %}" class="nav__link">
      Profile
    </a>
    {% else %}
    <a href="{% url 'account_login' %}" class="nav__link">
      Sign In
    </a>
    {% endif %}
  </li>
</ul>