<ul class="nav nav-top">
  {% if ft_use_ratings %}
  <li class="nav__item">
    <a href="{% url 'home-ratings' %}" class="nav__link">
      Ratings
    </a>
  </li>
  {% endif %}

  {% if ft_use_register %}
  <li class="nav__item">
    <a href="{% url 'home-register' %}" class="nav__link">
      Register
    </a>
  </li>
  {% endif %}

  {% if ft_use_posts %}
  <li class="nav__item">
    <a href="{%url 'posts-list' %}" class="nav__link">
      Articles
    </a>
  </li>
  {% endif %}

  <li class="nav__spacer">&nbsp;</li>
  
  <li class="nav__item">
    <a href="{% url 'home' %}" class="nav__link nav__brand">
      Sloppy Labwork
    </a>
  </li>
</ul>