{% extends "page.html" %}

{% block page_title %}Sloppy Labwork | The Team{% endblock %}

{% block content %}
  <h1>The Team</h1>
  <p>Some of the sloppiest ducks around.</p>
  <ul class="flat-list">
    <li>{{ bhawk }} BHawk</li>
    <li>{{ crusader }} Crusader</li>
    <li>{{ jdg314 }} JDG314</li>
    <li>️{{ jtrussell }} jtrussell</li>
    <li>{{ kveld }} kveld</li>
    <li>{{ miggy9001 }} Miggy9001</li>
    <li>️{{ not2night }} not2night</li>
    <li>{{ nowinstereo }} nowinstereo</li>
    <li>{{ quickdraw3457 }} quickdraw3457</li>
    <li>{{ strussell }} strussell</li>
  </ul>
  <p class="text-muted">{% now 'DATE_FORMAT' %}</p>
{% endblock %}
