{% extends "page.html" %}

{% block content %}
  <p>Welcome to <span class="brand">Sloppy Labwork</span>, a site dedicated
  to providing tools and resources to the KeyForge community and event
  organizers.</p>

  <p>We're a team of KeyForge players invested in not just leveling up our own game,
  but also creating a better experience for those around us.</p>

  <p>Looking for sweet sweet KeyForge content?</p>

  <ul>
    <li>
      <a href="https://twitch.tv/SloppyLabwork">
        <img class="icon" src="https://static.sloppylabwork.com/twitch-brand-assets/purple/glitch.svg" />/SloppyLabwork
      </a>
    </li>
    <li>
      <a href="https://open.spotify.com/show/2P9gscRTrxfjWkGLB5tvtE">
        Our podcast, scraped from the bottom of the beaker
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UC70ws5mda2XJ2E6P9kTKPwA">
        Sloppy Labwork on YouTube
      </a>
    </li>
    <li>
      <a href="{% url 'posts-list' %}">
        Our very own notes 🤓
      </a>
    </li>
  </ul>

  <p>Join us on Twitch Wednesdays at 9:30pm Eastern for live recordings of Bottom
  of the Beaker.</p>

  <p><a href="{% url 'redacted-knowledge' %}">Got a question or topic idea for our show?</a></p>

  <aside><span class="brand">Sloppy Labwork</span> is not affiliated with Ghost Galaxy, Fantasy
  Flight Games, or Asmodee in any way (but if they want to send us money... I mean... sure?).</aside>
{% endblock %}