{% extends "page.html" %}

{% block content %}
  <h1>User Profile</h1>
  <p>Welcome, {{ user.get_username }}.</p>
  <form action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
    <button type="submit">
      Sign Out
    </button>
  </form>

  <section>
    <h2>Registered Decks</h2>
    <p>You have 7 decks registered.</p>
    <p>4 have been verified.</p>
    <p>3 need verification photos.</p>
    <a class="button" href="{% url 'register-add' %}">
      Add Deck
    </a>
  </section>

  <section>
    <h2>Linked Accounts</h2>
    <ul>
      <li>Discord</li>
      <li>Challonge</li>
      <li>The Crucible Online</li>
    </ul>
  </section>

  <section>
    <h2>Danger Zone</h2>
    <p>Deleting your account is a permanent action that cannot be undone.</p>
    <form action="#">
      <a href="javascript:alert('Not yet implemented')" class="button">
        Delete Account
      </a>
    </form>
  </section>
{% endblock %}