{% extends "page.html" %}

{% block content %}
  <p>Welcome to <span class="brand">Sloppy Labwork</span>, a site dedicated
  to providing tools and resources for the KeyForge community and event
  organizers.</p>

  <p><span class="brand">Sloppy Labwork</span> is maintained by a team of
  KeyForge players invested in not just leveling up our own game but also
  creating a better experience for those around us.</p>

  <p><span class="brand">Sloppy Labwork</span> is not in any way affiliated
  with Fantasy Flight Games or Asmodee.</p>
{% endblock %}